.wc-navbar{
    background: #ff0000;
    height: 60px;
    z-index: 1000;
}
.logo{
  position: relative;
  padding-left: 10px;

}
.letter-logo{
  margin-left: 25px;
  z-index: 0;
}
.sub-logo{
  display:block;
  width: 75px;
  z-index: 1;
}
.navbar-middle-item{
  font-size: 20px;
  font-weight: 500;
}

.navbar-middle-item-text {
  color: whitesmoke !important;
}

.navbar-middle-item-text:hover {
  color: whitesmoke !important;
}
#home-link:hover {
  color: #FFCC00 !important; /* Change text color on hover */
  text-decoration: underline; /* Add underline on hover */
}
#search{
  font-size: 35px;
  &:hover svg{
    color:  #FFCC00  ;
  }
}
#cart{
  font-size: 35px;
  &:hover svg{
    color:  #FFCC00 ;
  }
}
#basic-navbar-nav{
  background: #ff0000;
}
@media only screen and (max-width: 575px) {
  .navbar-end-icons{
    color: whitesmoke !important;
    
  }
  #search{
    font-size: 20px;
  }
  #cart{
    font-size: 20px;
  }
}