.nav-bar {
    background: #2a75bb;
    height: 20px;
    width: 100%;
    position: absolute;
    align-items: center;
    top: 0;
    z-index: 3;
    min-height: 60px;

    nav{
      display: block;
      text-align: center;
      width: 100%;
      #home-link{
        padding-right: 25px;
        font-size: 35px;

      }
      #search-link{
        padding-right: 25px;
        font-size: 35px;
      }
      #cart-link{
        padding-right: 25px;
        font-size: 35px;
      }



    }

}





  