.container.search-page{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: center;
    max-width: 100% !important;
    overflow-x: hidden !important;
    position: absolute;
    top: 100px;
    width: 100%;
    .search-bar {
        position: relative;
        text-align: center;
        input{
            padding: .7rem 1.5rem;
            font-size: 2rem;
            border-radius: 25px;
            border: 1px solid rgba(255,255,255, 0.8);
            background: white;
            color: Black;
        }
        button{
            padding: .7rem 5rem;
            font-size: 2rem;
            border-radius: 25px;
        }
      }

    .search-pokemon-card-container{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        position: relative;
        color: black;
        margin:50px auto;
        max-width: 1800px;
    }
    .search-pokemon-card{
        background-color: #e70023;
        width: 30rem;
        box-shadow: 3px 6px rgba(0,0,0,0.2);
        border: solid black;
        padding: 30px;
        border-radius: 20px;
        margin: 6px;
        color: black;
        font-size: 15px;
    }
    .search-card-img{
        width: 70%;
        background-color: whitesmoke;
    }
    .search-card-body-wc{
        background-color: #e70023;
        font-size: 20px;
    }
    .search-card-title{
        font-size: 30px;
    }
    .search-card-button{
        font-size: 30px;
    }
}
.font-weight-bold {
    font-weight: bold;
}

.text-danger {
    color: red;
}

@media only screen and (max-width: 600px) {
    .container.search-page{
        .search-pokemon-card-container{
            margin:10px auto;
        }
        .search-bar {
            position: relative;
            text-align: center;
            input{
                font-size: 1.3rem;
            }
            button{
                font-size: 1.1rem;
                z-index: 1000px;
            }
          }
        .search-pokemon-card{
            width: 19rem;
        }
    }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}
